<template functional>
  <g opacity="0.64">
    <path
      d="M47.4982 17.6447L35.498 5.64449C34.8284 4.97511 33.7429 4.97531 33.0735 5.64489C32.7522 5.96633 32.5717 6.40207 32.5716 6.8566V11.9995H20.5714C19.6246 11.9995 18.857 12.7671 18.857 13.7139C18.857 14.6607 19.6246 15.4282 20.5714 15.4282H34.2859C35.2328 15.4282 36.0003 14.6607 36.0003 13.7139V10.9949L43.8622 18.8567L36.0003 26.7186V23.9997C36.0003 23.0528 35.2328 22.2853 34.2859 22.2853H15.4284V17.1424C15.4282 16.1956 14.6605 15.4282 13.7138 15.4284C13.2594 15.4285 12.8235 15.609 12.5021 15.9304L0.501964 27.9306C-0.167321 28.6001 -0.167321 29.6852 0.501964 30.3546L12.5022 42.3548C12.8236 42.6764 13.2596 42.8571 13.7142 42.8572C13.9395 42.8579 14.1628 42.8136 14.3707 42.7269C15.0112 42.4613 15.4286 41.8362 15.4284 41.1428V35.9999H27.4287C28.3755 35.9999 29.143 35.2324 29.143 34.2855C29.143 33.3387 28.3755 32.5712 27.4287 32.5712H13.7142C12.7674 32.5712 11.9998 33.3387 11.9998 34.2855V37.0045L4.13798 29.1426L11.9998 21.2807V23.9997C11.9998 24.9465 12.7674 25.714 13.7142 25.714H32.5716V30.8569C32.5718 31.8038 33.3395 32.5711 34.2863 32.5709C34.7407 32.5708 35.1765 32.3903 35.498 32.069L47.4982 20.0687C48.1674 19.3992 48.1674 18.3141 47.4982 17.6447Z"
      fill="#8457ED"/>
  </g>
</template>
