<template>
  <main class="main">
    <div class="wrapper">
      <h1 class="title main-title">Меняй криптовалюты по самым выгодным тарифам</h1>
      <form class="row main-form">
        <div class="main-block main-give">
          <h3 class="main-subtitle">Вы отдаете</h3>
          <div class="main-select">
            <v-select v-model="give"
                      class="style-chooser"
                      :options="variants"
                      label="name" :clearable="false">
              <template #option="{ name, icon }">
                <div class="main-row row">
                  <img :src="icon" :alt="name">
                  <span>{{ name }}</span>
                </div>
              </template>
              <template #selected-option="{  name, icon }">
                <div v-if="name" class="main-row row">
                  <img :src="icon" :alt="name">
                  <span>{{ name }}</span>
                </div>
              </template>
            </v-select>
          </div>
          <div class="input">
            <input type="text" placeholder="Отдаете">
            <div class="input-info">BTC</div>
          </div>
        </div>

        <div class="main-arrows">
          <base-icon width="48" height="48" view-box="0 0 48 48">
            <icon-arrows/>
          </base-icon>
        </div>

        <div class="main-block main-receive">
          <h3 class="main-subtitle">Вы получаете</h3>
          <div class="main-select">
            <v-select v-model="receive"
                      class="style-chooser"
                      :options="variants"
                      label="name" :clearable="false">
              <template #option="{ name, icon }">
                <div class="main-row row">
                  <img :src="icon" :alt="name">
                  <span>{{ name }}</span>
                </div>
              </template>
              <template #selected-option="{  name, icon }">
                <div v-if="name" class="main-row row">
                  <img :src="icon" :alt="name">
                  <span>{{ name }}</span>
                </div>
              </template>
            </v-select>
          </div>
          <div class="input">
            <input type="text" placeholder="Получаете">
            <div class="input-info">TUSD</div>
          </div>
          <div class="main-course">
            <p>Курс обмена: 1 BTC = 46545.5133 USDT</p>
            <p>Резерв: 391550.206509 USDT</p>
          </div>
        </div>
      </form>
    </div>
  </main>
</template>

<script>
  import BaseIcon from "../BaseIcon";
  import IconArrows from "../icons/IconArrows"
  import 'vue-select/dist/vue-select.css';

  export default {
    components: {BaseIcon, IconArrows},
    data() {
      return {
        give: {},
        receive: {}
      }
    },
    computed: {
      variants() {
        return [
          {name: 'Bitcoin BTC', icon: require('~/assets/images/bitcoin.png')},
          {name: 'LTC', icon: require('~/assets/images/ltc.png')},
          {name: 'Tether', icon: require('~/assets/images/tether.png')},
          {name: 'ETH', icon: require('~/assets/images/eth.png')},
        ]
      }
    }
  }
</script>
