<template>
  <div class="partners">
    <div class="wrapper">
      <h2 class="title partners-title">Партнерская программа для мониторингов</h2>
      <div class="align-top partners-items">
        <partners-item v-for="partner in partnersInfo" :key="partner.title" :partners-info="partner"/>
      </div>
    </div>
  </div>
</template>

<script>
  import PartnersItem from "../PartnersItem";

  export default {
    components: {PartnersItem},
    computed: {
      partnersInfo() {
        return [
          {
            title: 'Повседневная практика',
            description: 'Повседневная практика показывает, что рамки и место обучения кадров требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия.'
          },
          {
            title: 'Разнообразный и богатый',
            description: 'Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. '
          },
          {
            title: 'Не следует, однако забывать',
            description: 'Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что начало повседневной работы по формированию позиции в'
          },
          {
            title: 'Значительной степени',
            description: 'Значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности '
          }
        ]
      }
    }
  }
</script>
