<template>
  <div class="reserves">
    <div class="wrapper">
      <div class="align-top reserves-items">
        <reserve-item v-for="reserve in reserves" :key="reserve.title" :reserve="reserve"/>
      </div>
    </div>
  </div>
</template>

<script>
  import ReserveItem from "../ReserveItem";

  export default {
    components: {ReserveItem},
    computed: {
      reserves() {
        return [
          {title: 'Bitcoin', course: '$ 49.623,6', changeValue: 2.45, isUp: true},
          {title: 'Tether', course: '$ 49.623,6', changeValue: 2.45, isUp: false},
          {title: 'LTC', course: '$ 49.623,6', changeValue: 2.45, isUp: true},
          {title: 'ETH', course: '$ 49.623,6', changeValue: 2.45, isUp: false},
        ]
      }
    }
  }
</script>
