<template>
  <div class="welcome">
    <div class="wrapper">
      <div class="row welcome-info">
        <div class="welcome-text">
          <h2 class="title">
            Вас привествует команда DPex
          </h2>
          <div class="welcome-description">
            <p>Наш сервис DPex предназначен для тех, кто хочет быстро, безопасно и по выгодному курсу обменять
              электронную криптовалюту: BTC, USDT, LTC, ETH.</p>
            <p>Часть направлений на нашем обменнике работает в автоматическом режиме, часть в полуавтоматическом. Это
              позволяет совершать обмены максимально быстро!</p>
            <p>Наш сервис DPex предназначен для тех, кто хочет быстро, безопасно и по выгодному курсу обменять
              электронную криптовалюту: BTC, USDT, LTC, ETH.</p>
            <p>Часть направлений на нашем обменнике работает в автоматическом режиме, часть в полуавтоматическом. Это
              позволяет совершать обмены максимально быстро!</p>
          </div>
        </div>

        <div class="row welcome-logo">
          <base-icon width="148" height="97" view-box="0 0 148 97" fill="#422E93">
            <icon-logo/>
          </base-icon>
          <base-icon width="433" height="141" view-box="0 0 433 141" fill="none">
            <icon-d-pex/>
          </base-icon>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import BaseIcon from "../BaseIcon";
  import IconLogo from "../icons/IconLogo";
  import IconDPex from "../icons/IconDPex";

  export default {
    components: {BaseIcon, IconLogo, IconDPex}
  }
</script>
