<template>
  <footer class="footer">
    <div class="wrapper">
      <div class="align-top footer-row">
        <div class="footer-logo">
          <Logo/>
          <span>Сервис обмена электронных валют</span>
        </div>

        <div class="row links">
          <nuxt-link v-for="link in links" :key="link.name" :to="link.path" class="link">{{ link.name }}</nuxt-link>
        </div>

        <div class="working">
          <span>Режим работы офиса</span>
          <p>Пн-Пт 11:00-23:00</p>
          <p>Сб-Вс Выходной</p>
        </div>

        <a href="#" class="bestchange" target="_blank">
          <img src="/images/bestchange.png" alt="bestchange">
        </a>
      </div>
    </div>
  </footer>
</template>

<script>
  import Logo from "./Logo";
  import {HOME} from "~/settings/const";

  export default {
    components: {Logo},
    computed: {
      links() {
        return HOME.links
      }
    }
  }
</script>
