<template>
  <nuxt-link class="row logo" to="/">
    <base-icon width="38" height="24" view-box="0 0 148 97">
      <icon-logo/>
    </base-icon>
    <span>DPex</span>
  </nuxt-link>
</template>

<script>
  import BaseIcon from "./BaseIcon";
  import IconLogo from "./icons/IconLogo"

  export default {
    components: {BaseIcon, IconLogo},
  }
</script>
