<template>
  <form class="request">
    <div class="request-content">
      <h3 class="title request-title">{{ title }}</h3>

      <div class="input">
        <input type="text" placeholder="Эл.почта">
      </div>

      <div class="input">
        <input type="text" placeholder="Телефон">
      </div>

      <div v-if="needQuestion" class="input">
        <textarea :placeholder="textareaPlaceholder"></textarea>
      </div>

      <button class="btn request-btn" :disabled="!isAccepted">
        Отправить
      </button>

      <label class="align-top check">
        <input type="checkbox" v-model="isAccepted">
        <span class="row check-box" />
        <span class="check-text">
          Нажимая кнопку «отправить» я принимаю условия пользовательского соглашения и согласен с политикой обработки персональных данных
        </span>
      </label>
    </div>
    <div class="request-image">
      <img src="~assets/images/form-bg.svg" :alt="title" class="request-bg">
      <img :src="image" :alt="title" class="request-pic">
    </div>
  </form>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        default: ''
      },
      image: {
        type: String,
        default: ''
      },
      needQuestion: {
        type: Boolean,
        default: false
      },
      textareaPlaceholder: {
        type: String,
        default: 'Ваш вопрос'
      }
    },
    data () {
      return {
        isAccepted: false,
      }
    }
  }
</script>
