<template>
  <div class="reserve">
    <div class="reserve-icon">
      <img :src="require(`~/assets/images/${reserve.title.toLowerCase()}.png`)" alt="">
    </div>
    <div class="reserve-name">{{ reserve.title }}</div>
    <div class="row reserve-info">
      <div class="reserve-course">{{ reserve.course }}</div>
      <div class="row reserve-change" :class="{down: !reserve.isUp}">
        <!-- Если изменения в плюсе, ничего не делать, если в минусе - добавить класс down  -->
        <base-icon width="16" height="19" view-box="0 0 16 19" fill="#8457ED">
          <icon-up-arrow/>
        </base-icon>
        <span>{{ reserve.changeValue }}</span>
      </div>
    </div>
    <div class="row reserve-exchange">
      <span>Обменять</span>
      <base-icon width="14" height="8" view-box="0 0 14 8" fill="none">
        <icon-stroked-arrow/>
      </base-icon>
    </div>
  </div>
</template>

<script>
  import BaseIcon from "./BaseIcon";
  import IconStrokedArrow from "./icons/IconStrokedArrow";
  import IconUpArrow from "./icons/IconUpArrow";

  export default {
    components: {BaseIcon, IconStrokedArrow, IconUpArrow},
    props: {
      reserve: {
        type: Object,
        required: true
      }
    }
  }
</script>
