/* Fonts variables */
.light() {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}

.reg() {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

.medium() {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

.bold() {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

/* Color variables */
@dark: #000000;
@white: #FFFFFF;
@bg: #F5F5F8;
