<template>
  <div class="home">
    <Main/>
    <Reserves/>
    <Welcome/>
    <Partners/>
    <Diagram/>
    <Reviews/>
    <News/>
  </div>
</template>

<script>
  import Main from "../components/home/Main";
  import Reserves from "../components/home/Reserves";
  import Welcome from "../components/home/Welcome";
  import Partners from "../components/home/Partners";
  import Diagram from "../components/Diagram";
  import Reviews from "../components/home/Reviews";
  import News from "../components/home/News";

  export default {
    components: {Main, Reserves, Welcome, Partners, Diagram, Reviews, News}
  }
</script>
